pyarrow
opencv-python
scikit-learn
timm
numpy
einops
einops_exts
h5py
xmltodict
graphviz
fvcore
nltk
cython
pycocotools
scikit-image
sentencepiece
bitsandbytes
accelerate
peft
deepspeed
wandb
paddleocr
paddlepaddle-gpu
pillow==9.3.0
mmdet==3.3.0
mmcv==2.0.0rc4